<div class="flex flex-col gap-10">
    <div class="page-header">
        <button mat-icon-button class="icon-button" (click)="onBack()">
            <mat-icon fontIcon="chevron_backward" class="material-symbols-outlined"></mat-icon>
        </button>
        <h3>Add Meals</h3>
    </div>

    <div class="meal-list-form">
        <mat-list role="list">
            <div *ngFor="let meal of mealList">
                <mat-list-item role="listitem">
                    <div class="flex align-center justify-between gap-10">
                        <p style="text-wrap: wrap;">{{ meal.name }} <span class="italic fs-14">({{ meal.calories }} kcal)</span></p>
                        <div class="flex align-center">
                            <button mat-icon-button class="icon-button" (click)="onRemoveQuantity(meal)">
                                <mat-icon fontIcon="remove" class="material-symbols-outlined"></mat-icon>
                            </button>
                            <p style="width: 25px; text-align: center;">{{ meal.quantity === undefined ? 0 : meal.quantity }}</p>                       
                            <button mat-icon-button class="icon-button" (click)="onAddQuantity(meal)">
                                <mat-icon fontIcon="add" class="material-symbols-outlined"></mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
            </div>
        </mat-list>
    </div>

    <div *ngIf="calorieList !== undefined && calorieList.length > 0" class="summary-widget">
        <div class="flex justify-center">
            <h4 class="m-0">Summary</h4>
        </div>
        <div *ngFor="let calorieItem of calorieList">
            <div class="flex justify-between align-center">
                <p>{{ calorieItem.name }} (x{{ calorieItem.quantity }})</p>
                <p>{{ calorieItem.calories * calorieItem.quantity | number: '1.0-0' }}</p>
            </div>
        </div>
        <div style="border-top: 1px solid #d9d9d9">
            <div class="flex justify-between align-center pt-10">
                <p class="fw-500">Total Calories</p>
                <p class="fw-500">{{ getTotal() | number: '1.0-0' }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="mealList !== undefined && mealList.length > 0" class="flex align-center justify-end gap-10" style="margin: 20px 10px">
        <button mat-stroked-button type="button" class="error-btn" (click)="onBack()">Cancel</button>
        <button mat-flat-button type="submit" class="submit-btn" (click)="onSubmit()">Submit</button>
    </div>
</div>