$primary: #0e233c;
$primary-lighter: #b7bdc5;
$primary-darker: #081527;

$primary-50: #e6e9ed;
$primary-100: #b2bac7;

$secondary: #3b89c7;
$secondary-lighter: #c4dcee;
$secondary-darker: #266cb3;

$warn: #fb6d22;
$warn-lighter: #fed3bd;
$warn-darker: #f95014;

$dark-text: #ffffff;
$dark-background: #2c2c2c;

$light-text: #575757;
$light-background: #fafafa;

$neutral-400: #e3e3e3;
$neutral-500: #dbdbdb;

$success: #5eb794;

$font-family: 'Roboto Condensed';
